header {
  background-color: #2ecc71;
  border-bottom: 2px solid #27ae60;
  padding: 1em 0;
  color: #FFF;
}
header h1 {
  color: #FFF;
}
h1,h2,h3,h4,h5,h6 {
  color: #34495e;
}
#sidebar,
#primary {
  display: block;
  margin-top: 1em;
}
#search {
  margin-bottom: 1em;
}
footer {
  padding: 1em 0;
}
.method,
.property {
  margin-bottom: 2em;
}
code {
  background-color: inherit;
  color: rgb(52, 73, 94);
}
.list-group-item {
  padding: 5px 10px;
}