<footer>
  <hr />
  <div class="container-fluid text-right">
    &copy; {{config.company}} 2016<br />
    {{# config.email}}
      <a href="mailto:{{config.email}}">{{config.email}}</a>
    {{/ config.email}}
  </div>

  <script src="resources/main.js"></script>
</footer>