<h1 class="page-header">{{name}} Class</h1>
{{# description}}
  <p>{{{description}}}</p>
{{/description}}
{{# group}}
  <h2>Group</h2>
  <p class="lead">{{group}}</p>
{{/ group}}
{{# hasEnums}}
  <h2>{{name}} Enums</h2>
  The following are enums for <code>{{name}}</code>.
  <ul>
    {{# enums}}
      <li>
        <a href="#enum-{{name}}">{{name}}</a>
        <br />
        {{# description}}
          <p>{{{description}}}</p>
        {{/ description}}
        {{^ description}}
          <p><em>No description provided</em></p>
        {{/ description}}
      </li>
    {{/ enums}}
  </ul>
  {{# enums}}
    <div id="enum-{{name}}" class="enum">
      <h3>{{name}}</h3>
      {{# description}}
      <p>{{{description}}}</p>
      {{/ description}}
      {{^ description}}
        <p><em>No description provided</em></p>
      {{/ description}}
      <h4>Signature</h4>
      <p><code>{{nameLine}}</code></p>
      <h4>Available Values</h4>
      <ul>
        {{# values}}
          <li>{{.}}</li>
        {{/ values}}
      </ul>
    </div>
  {{/enums}}
{{/ hasEnums}}
<h2>{{name}} Fields</h2>
{{# hasProperties}}
  The following are fields for <code>{{name}}</code>.
  <ul>
    {{# properties}}
      <li>
        <a href="#property-{{name}}">{{name}}</a>
        <br />
        {{# description}}
          <p>{{{description}}}</p>
        {{/ description}}
        {{^ description}}
          <p><em>No description provided</em></p>
        {{/ description}}
      </li>
    {{/ properties}}
  </ul>
  {{# properties}}
    <div id="property-{{name}}" class="property">
      <h3>{{name}}</h3>
      {{# description}}
      <p>{{{description}}}</p>
      {{/ description}}
      {{^ description}}
        <p><em>No description provided</em></p>
      {{/ description}}
      <h4>Signature</h4>
      <p><code>{{nameLine}}</code></p>
      {{# type}}
      <h4>Property Value</h4>
      <p>Type: {{type}}</p>
      {{/ type}}
    </div>
  {{/properties}}
{{/ hasProperties}}
{{^ hasProperties}}
  <p><em>This class has no properties.</em></p>
{{/ hasProperties}}
<h2>{{name}} Constructors</h2>
{{# hasConstructors}}
  The following are constructors for <code>{{name}}</code>.
  <ul>
    {{# constructors}}
      <li>
        <a href="#constructor-{{name}}">{{nameWithParams}}</a>
        <br />
        {{# description}}
          <p>{{{description}}}</p>
        {{/ description}}
        {{^ description}}
          <p><em>No description provided</em></p>
        {{/ description}}
      </li>
    {{/ constructors}}
  </ul>
  {{# constructors}}
  <div id="constructor-{{name}}" class="method">
    <h3>{{nameWithParams}}</h3>
    {{# description}}
      <p>{{{description}}}</p>
    {{/description}}
    {{^ description}}
      <p><em>No description provided</em></p>
    {{/ description}}
    <h4>Signature</h4>
    <code>{{nameLine}}</code>
      {{# return}}
        <h4>Returns</h4>
        <p>{{return}}</p>
      {{/ return}}
      {{# hasParams}}
        <h4>Parameters</h4>
        {{# param}}
          <em>{{name}}</em><br />
          {{{description}}}
          {{^ description}}
            <em>No description provided</em>
          {{/ description}}
          <br />
          <br />
        {{/ param}}
      {{/hasParams}}
      {{# example}}
        <h4>Example</h4>
        <pre><code class="language-java">{{{example}}}</code></pre>
      {{/ example}}
    </div>
  {{/ constructors}}
{{/ hasConstructors}}
{{^ hasConstructors}}
  <p><em>This class cannot be constructed.</em></p>
{{/ hasConstructors}}
<h2>{{name}} Methods</h2>
{{# hasMethods}}
  The following are methods for <code>{{name}}</code>.
  <ul>
    {{# methods}}
      <li>
        <a href="#method-{{name}}">{{nameWithParams}}</a>
        <br />
        {{# description}}
          <p>{{{description}}}</p>
        {{/ description}}
        {{^ description}}
          <p><em>No description provided</em></p>
        {{/ description}}
      </li>
    {{/ methods}}
  </ul>
  {{# methods}}
  <div id="method-{{name}}" class="method">
    <h3>{{nameWithParams}}</h3>
    {{# description}}
      <p>{{{description}}}</p>
    {{/description}}
    {{^ description}}
      <p><em>No description provided</em></p>
    {{/ description}}
    <h4>Signature</h4>
    <code>{{nameLine}}</code>
    {{# return}}
      <h4>Returns</h4>
      <p>{{return}}</p>
    {{/ return}}
    {{# hasParams}}
      <h4>Parameters</h4>
      {{# param}}
        <em>{{name}}</em><br />
        {{{description}}}
        {{^ description}}
          <em>No description provided</em>
        {{/ description}}
        <br />
        <br />
      {{/ param}}
    {{/hasParams}}
    {{# example}}
      <h4>Example</h4>
      <pre><code class="language-java">{{{example}}}</code></pre>
    {{/ example}}
  </div>
  {{/ methods}}
{{/ hasMethods}}
{{^ hasMethods}}
  <p><em>This class has no methods.</em></p>
{{/ hasMethods}}
{{# childClasses}}
  {{ > class}}
{{/ childClasses}}
