<footer>
  <hr />
  <div class="container-fluid text-right">
    &copy; {{config.company}} 2016<br />
    {{# config.email}}
      <a href="mailto:{{config.email}}">{{config.email}}</a>
    {{/ config.email}}
  </div>

  <script src="../resources/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  <script src="../resources/prism.js"></script>
</footer>
