<link href="./resources/bootstrap.min.css" rel="stylesheet">
<link href="./resources/style.css" rel="stylesheet">
<link href="./resources/prism.css" rel="stylesheet">
<div>
  This is the index
</div>
<br/>
<div>
  {{> report}}
</div>